@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Permanent+Marker&display=swap');


*{
    scroll-behavior: smooth;
}

:root{
    font-size: 16px;
    scroll-behavior: smooth;
    --padding-padrao-secao: 40px;
}

[data-tema="light"]{
    --planofundo: #d7cfd9;
    --cor-primaria-texto:353535;
    
}

button{
    border-radius: 10px;
}